.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
todo.txt
XMLSandbox/
public/system/
public/assets/
coverage/
.project
.DS_Store
.dump
latest.dump
*.swp
config/open_exchange_rates.yml
config/redistogo.yml
dump.rdb